h1=trans2('act2_Part1_1_Title')
.container
  .buttons
    button#mxcity.boton=trans2('act2_Part1_2')
    button#atlapulco.boton=trans2('act2_Part1_4')
    button#ejido.boton=trans2('act2_Part1_5')
    button#bloqueo.boton=trans2('act2_Part1_6')
    a.link-js(data-page='acto2-parte2',href=`/${lang}/acto2-parte2.html`)=trans2('act2_Part1_7') 
  #flash-notice.flash-notice=trans2('act2_Part1_8')
  .mapa-text-container
    include ./mapa.pug
    #displayArea.displayText
      div#atlapulcoDescription.map-text-container
        img(src="/assets/images/act2-1-1.jpg")
        p=trans2('act2_Part1_9_Atlapulco')
        p=trans2('act2_Part1_10_Atlapulco')
        p=trans2('act2_Part1_11_Atlapulco')
      div#ejidoDescription.map-text-container
        img(src="/assets/images/act2-1-2.jpg")
        p=trans2('act2_Part1_12_Ejido')
        p=trans2('act2_Part1_13_Ejido')
      div#bloqueoDescription.map-text-container
        img(src="/assets/images/act2-2-1.jpg")
        p=trans2('act2_Part1_14_Bloqueo')
        p=trans2('act2_Part1_15_Bloqueo')