h1=trans2('act1_1')
.container
  .buttons
    button#mxcity.boton=trans2('act1_2')
    button#casaDeLosPueblos.boton=trans2('act1_4')
    button#corazonOtomi.boton=trans2('act1_5')
    button#roma18.boton=trans2('act1_6')
    button#zacatecas74.boton=trans2('act1_7')
    button#guanajuato200.boton=trans2('act1_8')
    button#londres7.boton=trans2('act1_9')
    button#mexquititlan.boton=trans2('act1_10')
    button#amilcingo.boton=trans2('act1_11')
  #flash-notice.flash-notice=trans2('act1_12')
  .mapa-text-container
    include ./mapa.pug
    #displayArea.displayText
      div#casaDeLosPueblosDescription.map-text-container
        img(src="/assets/images/act1-1.jpg")
        p=trans2('act1_13_CasaDeLosPueblos')
        p=trans2('act1_14_CasaDeLosPueblos')
        p=trans2('act1_15_CasaDeLosPueblos')
        p=trans2('act1_16_CasaDeLosPueblos')
        p=trans2('act1_17_CasaDeLosPueblos')
      div#corazonOtomiDescription.map-text-container
        img(src="/assets/images/act1-1.jpg")
        p=trans2('act1_18_LaCasona')
        //- p=trans2('act1_19_LaCasona') 
        p=trans2('act1_20_LaCasona')
      div#roma18Description.map-text-container
        img(src="/assets/images/act1-2.jpg")
        p=trans2('act1_21_Roma18')
        p=trans2('act1_22_Roma18')
      div#zacatecas74Description.map-text-container
        img(src="/assets/images/act1-3.jpg")
        p=trans2('act1_23_Zacatecas74')
        p=trans2('act1_24_Zacatecas74')
        p=trans2('act1_25_Zacatecas74')
      div#guanajuato200Description.map-text-container
        p=trans2('act1_26_Guanajuato200')
        p=trans2('act1_27_Guanajuato200')
      div#londres7Description.map-text-container
        img(src="/assets/images/act1-4.jpg")
        p=trans2('act1_28_Londres7')
        p=trans2('act1_29_Londres7')
        p=trans2('act1_30_Londres7')
      div#amilcingoDescription.map-text-container
        p=trans2('act1_31_Amilcingo')
      div#mexquititlanDescription.map-text-container
        p=trans2('act1_32_Mexquititlán')
        p=trans2('act1_33_Mexquititlán')
