h1=trans2('creditos_title')

div.main-content
    h2=trans2('creditos_la_fabrica_colapsada')
    p=trans2('creditos_research')
    p=trans2('creditos_supportResearch')
    p=trans2('creditos_composition')
    
    h2=trans2('creditos_music')
    p=trans2('creditos_direction')
    p=trans2('creditos_ensamble')
    p=trans2('creditos_location')
    p=trans2('creditos_performance')
    p=trans2('creditos_grabacionDeCampo')
    p=trans2('creditos_mixing')
    p=trans2('creditos_mixingDirection')
    p=trans2('creditos_mastering')

    h2=trans2('creditos_vision')
    p=trans2('creditos_coverimageAndAnimation')
    p=trans2('creditos_visuales')

    h2=trans2('creditos_paginaweb')
    p=trans2('creditos_implementacionDiseño')
    p=trans2('creditos_implementacionDiseñoSegundaVersion')
    
