
h1.landing-page__title La Fabrica Colapsada


div.main-content
  div.index__first-paragraph
    p(style="margin-top:0;")=trans2('index1')
    img(style="max-width: 500px; width: 100%; height: 100%; margin: 0 auto; display: block;" src="/assets/images/la-fabrica-colapsada.jpg", alt="La Fabrica Colapsada")
  p=trans2('index2')
  p=trans2('index3')
  p=trans2('index4')
  p=trans2('index5')
