div.menu-container
    menu.menu.menu__es
        div.hidden
            a.link-js(data-page='index', href='/es/index')
                span=trans('es', dbES, 'menu8')
        div
            a.link-js(data-page='acto1', href='/es/acto1')
                span=trans('es', dbES, 'menu2')
                span.dash -
                span=trans('es', dbES, 'menu3')
        div
            a.link-js(data-page='acto2-parte1', href='/es/acto2-parte1')
                span=trans('es', dbES, 'menu4')
                span.dash -
                span=trans('es', dbES, 'menu5')
        div
            a.link-js(data-page='acto3', href='/es/acto3')
                span=trans('es', dbES, 'menu6')
                span.dash -
                span=trans('es', dbES, 'menu7')
        div
            a.link-js(data-page='terremoto', href='/es/terremoto')
                span=trans('es', dbES, 'menu1')
        div.hidden
            a.link-js(data-page='epilogo', href='/es/epilogo')
                span=trans('es', dbES, 'menu9')
    menu.menu.menu__en
        div.hidden
            a.link-js(data-page='index', href='/es/index')
                span=trans('es', dbES, 'menu8')
        div
            a.link-js(data-page='acto1', href='/en/act1')
                span=trans('en', dbEN, 'menu2')
                span.dash -
                span=trans('en', dbEN, 'menu3')
        div
            a.link-js(data-page='acto2-parte1', href='/en/acto2-parte1')
                span=trans('en', dbEN, 'menu4')
                span.dash -
                span=trans('en', dbEN, 'menu5')
        div
            a.link-js(data-page='acto3', href='/en/act3')
                span=trans('en', dbEN, 'menu6')
                span.dash -
                span=trans('en', dbEN, 'menu7')
        div
            a.link-js(data-page='terremoto', href='/en/terremoto')
                span=trans('en', dbEN, 'menu1')
        div.hidden
            a.link-js(data-page='epilogo', href='/es/epilogo')
                span=trans('es', dbES, 'menu9')

