div.menu-container
    menu.menu.menu__es
        //- span.go-to=trans('es', dbES, 'menu0')
        div
            a.link-js(data-page='earthquake-event', href='/es/earthquake-event')
                span=trans('es', dbES, 'menu1')
        div
            a.link-js(data-page='acto1', href='/es/acto1')
                span=trans('es', dbES, 'menu2')
                span=trans('es', dbES, 'menu3')
        div
            a.link-js(data-page='acto2-parte1', href='/es/acto2-parte1')
                span=trans('es', dbES, 'menu4')
                span=trans('es', dbES, 'menu5')
        div
            a.link-js(data-page='acto3', href='/es/acto3')
                span=trans('es', dbES, 'menu6')
                span=trans('es', dbES, 'menu7')
    menu.menu.menu__en
        //- span.go-to=trans('en', dbEN, 'menu0')
        div
            a.link-js(data-page='earthquake-event', href='/en/earthquake-event')
                span=trans('en', dbEN, 'menu1')
        div
            a.link-js(data-page='acto1', href='/en/act1')
                span=trans('en', dbEN, 'menu2')
                span=trans('en', dbEN, 'menu3')
        div
            a.link-js(data-page='acto2-Part1', href='/en/act2-Part1')
                span=trans('en', dbEN, 'menu4')
                span=trans('en', dbEN, 'menu5')
        div
            a.link-js(data-page='acto3', href='/en/act3')
                span=trans('en', dbEN, 'menu6')
                span=trans('en', dbEN, 'menu7')
