h1=trans2('referencias1_title')

div.main-content
    h2=trans2('referencias2_intro')
    p.references-description Some text:
        a(href='https://www.somelink.com') Some link
    h2=trans2('referencias2_act1')
    h2=trans2('referencias2_act2_1')
    h2=trans2('referencias2_act2_2')
    h2=trans2('referencias2_act3')
    h2=trans2('referencias2_epilogue')
