h1=trans2('earthquake1')
.container
  div(style='max-width: 600px; margin-bottom: 32px;')
    div=trans2('earthquake2')
    div=trans2('earthquake3')
    div=trans2('earthquake4')
    div=trans2('earthquake5')
    div=trans2('earthquake6')
    div=trans2('earthquake7')
    #displayArea
  #map a map
